.chs{
    background-color: #cbffcd;
    border: 1px solid black;
}

.lhs{
    /*this is to assign container to left side of page and its contents*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*float: left;*/
    background-color: lightblue;
    border: 1px solid black;
}

.rhs{
    /*this is to assign container to right side of page and its contents*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*float: right;*/
    background-color: indianred;
    border: 1px solid black;
}

p {
    font-size: 0.8em;
}
.fsiz{
    font-size: 0.8em;
}

li{
    font-size: 0.8em
}
#firstentry{
    text-align: center;
}
.frame{
    border: 1px solid black
}

.low {
    border-bottom: 1px solid darkgreen;
}


/*<span class="twitter"></span> twitter*/
/*very small to medium size devices: */
